/ {
    /* Encoder exposed to the keymap */
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&enc0>;
        triggers-per-rotation = <4>;
    };

    /* EC11 rotary encoder on Pro Micro pads D3/D2 */
    enc0: encoder_0 {
        label = "ENCODER";
        compatible = "alps,ec11";
        a-gpios = <&pro_micro D3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro D2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <24>;
        status = "okay";
    };

    /* ---------- SH1106 OLED on I2C ---------- */
    /* Most Lily58 PCBs put OLED on i2c1 with address 0x3C. If blank, try:
    *  - change reg to <0x3d>
    *  - or move this node under &i2c0 instead of &i2c1
    */
    &i2c0 {
        status = "okay";
        
        sh1106@3c {
            compatible = "sinowealth,sh1106fb";
            reg = <0x3d>;
            label = "SH1106";
            width = <128>;
            height = <64>;
            rotation = <180>;              /* flip to <0> if upside down */
            status = "okay";
        };
    }
};
