&i2c1 {
    status = "okay";

    ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3C>;       /* 0x3D if 0x3C doesn’t respond */
        label = "SSD1306";
        width = <128>;
        height = <64>;
        rotation = <180>;
        multiplex-ratio = <63>; /* 64px -> 63 */
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
        status = "okay";
    };
};