/ {
    /* Encoder exposed to the keymap */
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&enc0>;
        triggers-per-rotation = <4>;
    };

    /* EC11 rotary encoder on Pro Micro pads D3/D2 */
    enc0: encoder_0 {
        label = "ENCODER";
        compatible = "alps,ec11";
        a-gpios = <&pro_micro D3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro D2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <24>;
        status = "okay";
    };
};